title Anchor Less | page.title
//- metadata
meta(charset='utf-8')
meta(name='author', content='invader365')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='viewport', content='width=device-width, maximum-scale=1.0, user-scalable=no')
meta(name='keywords', content='anchorLess, anchor, less, mixins, assets, utilities, library, css')
meta(name='description', content='Anchor less is a collection of less Mixins, Assets and Utilities. These enables you to create blocks of reusable css, avoiding duplication of code and making it more maintenable. ')
//- open graph
meta(property='og:title', content='Anchor Less')
meta(property='og:description', content='Anchor less is a collection of less Mixins, Assets and Utilities. These enables you to create blocks of reusable css, avoiding duplication of code and making it more maintenable. ')
meta(property='og:image', content='http://invader365.github.io/anchorLESS/images/logo-main-small.png')
meta(property='og:type', content='website')
meta(property='og:url', content='http://invader365.github.io/anchorLESS')
//- javascript
script(src=page.root + 'js/analytics.js')
script(src=page.root + 'js/modernizr.js')
script(src=page.root + 'js/modernizr.load.js')        
//- stylesheets
link(href=page.root + 'img/favicon.ico', type='image/x-icon', rel='shortcut icon')
link(href=page.root + 'fonts/FontAwesome/css/font-awesome.css', rel='stylesheet')
link(href=page.root + 'css/uno.css', rel='stylesheet')